.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  gap: 1px;
  background-color: #2980B9;
  width: 368px;
  height: 390px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2980B9;
  background-color: #D6EAF8;
  height: 40px;
  border: none;
  text-align: center;
}

.grid-item:nth-child(3n + 1):not(:nth-child(1)):not(:nth-child(10)):not(:nth-child(19)):not(:nth-child(28)):not(:nth-child(37)):not(:nth-child(46)):not(:nth-child(55)):not(:nth-child(64)):not(:nth-child(73)){
  border-left: 3px solid #2980B9;
}

.grid-item:nth-child(n + 28):nth-child(-n + 36),
.grid-item:nth-child(n + 55):nth-child(-n + 63) {
  border-top: 3px solid #2980B9;
}

.grid-item input {
  border: none;
}

.static {
  border-bottom: none !important;
  border-right: none !important;
}

.static:nth-child(3n + 1):not(:nth-child(1)):not(:nth-child(10)):not(:nth-child(19)):not(:nth-child(28)):not(:nth-child(37)):not(:nth-child(46)):not(:nth-child(55)):not(:nth-child(64)):not(:nth-child(73)){
  border-left: 3px solid #2980B9 ;
}

.static:nth-child(n + 28):nth-child(-n + 36),
.static:nth-child(n + 55):nth-child(-n + 63) {
  border-top: 3px solid #2980B9 ;
}